@import "../../.cache/wal/colors-waybar.css"; /* Este import sigue siendo necesario para acceder a las variables */

* {
  border: none;
  border-radius: 0px;
  font-family: FantasqueSansM Nerd Font;
  font-size: 11px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background-color: @background; /* Fondo principal */
  color: #abb2bf;
  transition-property: background-color;
  transition-duration: .5s;
  margin: 20px;
  border-radius: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  padding: 0.5 1em;
  border-radius: 12px;
  margin: 5 0em;
  background-color: @color3;
}

#workspaces button {
  color: @foreground;
}

#workspaces button:hover {
  background: @color6; /* Azul para hover */
  color: @color0;
  border-bottom: 3px solid @color0;
}

#workspaces button.focused {
  background: @color10; /* Verde cálido */
}

#workspaces button.focused:hover {
  background: @color6;
  color: @color0;
  border-bottom: 3px solid @color0;
}

#workspaces button.urgent {
  background-color: @color3; /* Rojo cálido */
}


#mode {
  background-color: @color13; /* Púrpura */
  border-bottom: 3px solid @color0;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-launcher,
#custom-power,
#custom-layout,
#custom-updater,
#custom-snip,
#taskbar,
#tray,
#mode,
#idle_inhibitor,
#custom-cuda,
#custom-vram,
#custom-cpu,
#custom-memory,
#custom-network,
#mpd,
#backlight {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px 10px;
  margin-right: 4px;
  margin-left: 4px;
  border-radius: 12px;
  color: @foreground;
}

#window {
  margin: 0px 4px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0px;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0px;
}

#clock {
  background-color: transparent;
  color: @foreground;
  font-size: x-large;
  margin-right: 4px;
}



#backlight {
  background-color: @color12; /* Fondo batería */
  color: @foreground;
}

/* #battery.charging, #battery.plugged {
  background-color: @color10;
} */

@keyframes blink {
  to {
      background-color: @color0;
      color: @color1;
  }
}

#battery {
  background-color: @color12; /* Fondo batería */
  color: @foreground;
}

#battery.charging {
  background-color: #7bc275;
}

#battery.critical:not(.charging) {
  background-color: @color1;
  color: @color0;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: @color12; /* Fondo de foco */
}

#disk, #network {
  background-color: @color6; /* Azul suave */
  color: @color0;
}

#memory {
  background-color: @color9; /* Azul suave */
  color: @background;
}

#cpu {
  background-color: @color1; /* Azul suave */
  color: @foreground;
}

#pulseaudio {
  background-color: @foreground; /* Azul suave */
  color: @background;
}

#custom-media, #custom-updater {
  background-color: @color4; /* Azul claro */
  color: @color0;
  margin-right: 5px;
  margin-left: 5px;
}

#custom-power {
  background-color: @color11; /* Amarillo */
  font-size: 18px;
  margin-left: 2px;
}

#custom-layout {
  background-color: @color13; /* Púrpura */
  color: @color0;
  font-size: 18px;
}

#custom-cpu {
  background-color: @color9; /* Azul más oscuro */
  color: #fcfdff;
}

#custom-memory {
  background-color: @color2; /* Azul claro */
  color: @color0;
}

#custom-network {
  background-color: @color6; /* Azul más claro */
  color: white;
}

#custom-cuda {
  background-color: @color14; /* Azul pastel */
  color: @color0;
}

#custom-vram {
  background-color: @color15; /* Azul pastel claro */
  color: @color0;
}

#custom-launcher {
  font-weight: bolder;
  background-color: @color4; /* Azul claro */
  color: white;
  font-size: x-large;
}

#taskbar {
  background-color: @color9; /* Azul oscuro */
}

#temperature {
  background-color: @color5; /* Amarillo */
  color: @background;
}

#temperature.critical {
  background-color: @color3; /* Rojo cálido */
}

#tray {
  background-color: @color8; /* Gris oscuro */
  color: @color0;
  border-radius: 30px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
  background-color: @color5; /* Azul brillante */
  color: @color0;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @color3; /* Rojo cálido */
  color: @color0;
}

#idle_inhibitor {
  background-color: @color13; /* Púrpura */
}

#idle_inhibitor.activated {
  background-color: @color10; /* Verde cálido */
  color: @color0;
}

#language {
  background-color: @color6; /* Azul para el estado de idioma */
  color: @color0;
  min-width: 16px;
  padding-left: 8px;
}

#keyboard-state {
  background: @color10; /* Verde cálido */
  color: @color0;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0px 5px;
}

#keyboard-state > label.locked {
  background: rgba(255, 255, 255, 0.2);
}
