* {
  accent:           #6BA0DE;
  background:       #383C4A;
  background-light: #404552;
  background-alt:   #00000000;
  foreground:       #E4E4E4;
  on:               #6BA0DE;
  off:              #e34039;
}
