@import "../../../../.cache/wal/colors-waybar.css";

* {
  border: none;
  border-radius: 0px;
  font-family: FantasqueSansM Nerd Font;
  font-size: 11px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background-color: rgba(253, 48, 48,0); /* Fondo principal */
  color: #abb2bf;
  transition-property: background-color;
  transition-duration: .5s;
  margin: 0px;
  border-radius: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#taskbar {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 2px 2px;
  margin-right: 4px;
  margin-left: 4px;
  border-radius: 15px;
  color: @foreground;
  background-color: @background; /* Azul oscuro */
}

#window {
  margin: 0px 0px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0px;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0px;
}